.input-fields {
  display: flex;

  &--vertical {
    flex-direction: column;

    & > * {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--horizontal {
    flex-direction: row;

    & > * {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.input-field {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $gray;
  padding: 5px 15px;
  font-size: 15px;
  background-color: $white;

  &:not(textarea):not(select[multiple]) {
    height: 35px;
  }
}

select[multiple].input-field {
  height: 100%;
}

.input-field-group {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid $gray;
  padding: 10px;
  background-color: $white;

  &__header {
    margin-bottom: 10px;
  }

  &__body {
    display: flex;
    flex-direction: row;

    > * {
      margin-right: 15px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.required {
  &:after {
    color: $red;
    content: '*';
  }
}

.input-field-help-text {
  margin-top: 10px;
}
