.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--centre-columns {
    justify-content: center;
  }

  &--space-between {
    justify-content: space-between;
  }
}

.column {
  display: flex;
  flex-direction: column;

  &--fill {
    flex: 1;
  }

  &--space-between {
    justify-content: space-between;
  }

  @for $i from 1 through 12 {

    $width: (100 / 12) * $i;

    @media (min-width: $sm-res) {
      &-sm-#{$i} {
        flex-basis: #{$width + '%'};
      }
    }
  }

  @for $i from 1 through 12 {

    $width: (100 / 12) * $i;

    @media (min-width: $md-res) {
      &-md-#{$i} {
        flex-basis: #{$width + '%'};
      }
    }
  }

  @for $i from 1 through 12 {

    $width: (100 / 12) * $i;

    @media (min-width: $lg-res) {
      &-lg-#{$i} {
        flex-basis: #{$width + '%'};
      }
    }
  }

  @for $i from 1 through 12 {

    $width: (100 / 12) * $i;

    @media (min-width: $xl-res) {
      &-xl-#{$i} {
        flex-basis: #{$width + '%'};
      }
    }
  }
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

@for $i from 1 through 10 {
  .ml-#{$i}0 {
    margin-left: #{$i}0px;
  }

  .mr-#{$i}0 {
    margin-right: #{$i}0px;
  }

  .mt-#{$i}0 {
    margin-top: #{$i}0px;
  }

  .mb-#{$i}0 {
    margin-bottom: #{$i}0px;
  }

  .m-#{$i}0 {
    margin: #{$i}0px;
  }

  .pdl-#{$i}0 {
    padding-left: #{$i}0px;
  }

  .pdr-#{$i}0 {
    padding-right: #{$i}0px;
  }

  .pdt-#{$i}0 {
    padding-top: #{$i}0px;
  }

  .pdb-#{$i}0 {
    padding-bottom: #{$i}0px;
  }

  .pd-#{$i}0 {
    padding: #{$i}0px;
  }
}
