.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--centre-columns {
    justify-content: center;
  }

  &--space-between {
    justify-content: space-between;
  }
}

.column {
  display: flex;
  flex-direction: column;

  &--fill {
    flex: 1;
  }

  &--space-between {
    justify-content: space-between;
  }

  @for $i from 1 through 12 {

    $width: (100 / 12) * $i;

    @media (min-width: $sm-res) {
      &-sm-#{$i} {
        flex-basis: #{$width + '%'};
      }
    }
  }

  @for $i from 1 through 12 {

    $width: (100 / 12) * $i;

    @media (min-width: $md-res) {
      &-md-#{$i} {
        flex-basis: #{$width + '%'};
      }
    }
  }

  @for $i from 1 through 12 {

    $width: (100 / 12) * $i;

    @media (min-width: $lg-res) {
      &-lg-#{$i} {
        flex-basis: #{$width + '%'};
      }
    }
  }

  @for $i from 1 through 12 {

    $width: (100 / 12) * $i;

    @media (min-width: $xl-res) {
      &-xl-#{$i} {
        flex-basis: #{$width + '%'};
      }
    }
  }
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-left, .justify-start {
  justify-content: flex-start;
}

.align-left, .align-start {
  align-items: flex-start;
}

.justify-right, .justify-bottom {
  justify-content: flex-end;
}

.align-right, .align-bottom {
  align-items: flex-end;
}

@for $i from 1 through 10 {
  .ml-#{$i}0 {
    margin-left: #{$i}0px;
  }

  .mr-#{$i}0 {
    margin-right: #{$i}0px;
  }

  .mt-#{$i}0 {
    margin-top: #{$i}0px;
  }

  .mb-#{$i}0 {
    margin-bottom: #{$i}0px;
  }

  .m-#{$i}0 {
    margin: #{$i}0px;
  }

  .pdl-#{$i}0 {
    padding-left: #{$i}0px;
  }

  .pdr-#{$i}0 {
    padding-right: #{$i}0px;
  }

  .pdt-#{$i}0 {
    padding-top: #{$i}0px;
  }

  .pdb-#{$i}0 {
    padding-bottom: #{$i}0px;
  }

  .pd-#{$i}0 {
    padding: #{$i}0px;
  }

  .wdh-#{$i}0 {
    width: #{$i}0px;
  }
}

.wdh-min {
  width: 1%;
  white-space: nowrap;
}

.bd {
  border: 1px solid $gray;

  &-d {
    border-style: double;
  }

  &t {
    border-top: 1px solid $gray;

    &-1 {
      border-top: 1px solid $gray;
    }

    &-2 {
      border-top: 2px solid $gray;
    }

    &-5 {
      border-top: 5px solid $gray;
    }

    &-10 {
      border-top: 10px solid $gray;
    }

    &-d {
      border-top-style: double;
    }
  }

  &b {
    border-bottom: 1px solid $gray;

    &-1 {
      border-bottom: 1px solid $gray;
    }

    &-2 {
      border-bottom: 2px solid $gray;
    }

    &-5 {
      border-bottom: 5px solid $gray;
    }

    &-10 {
      border-bottom: 10px solid $gray;
    }

    &-d {
      border-bottom-style: double;
    }
  }

  &l {
    border-left: 1px solid $gray;

    &-1 {
      border-left: 1px solid $gray;
    }

    &-2 {
      border-left: 2px solid $gray;
    }

    &-5 {
      border-left: 5px solid $gray;
    }

    &-10 {
      border-left: 10px solid $gray;
    }

    &-d {
      border-left-style: double;
    }
  }

  &r {
    border-right: 1px solid $gray;

    &-1 {
      border-right: 1px solid $gray;
    }

    &-2 {
      border-right: 2px solid $gray;
    }

    &-5 {
      border-right: 5px solid $gray;
    }

    &-10 {
      border-right: 10px solid $gray;
    }

    &-d {
      border-right-style: double;
    }
  }
}
