.row {
  display: flex;
  flex-direction: row;

  &--centre-columns {
    justify-content: center;
  }
}

.column {
  display: flex;
  flex-direction: column;

  &--fill {
    flex: 1;
  }
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-50 {
  margin: 50px;
}
