.page {
  min-height: calc(100% - #{$header-height + $footer-height});
  margin-top: $header-height;
  padding-top: 25px;
  padding-bottom: 25px + $footer-height;
  padding-left: 50px;
  padding-right: 50px;

  .sidebar--animated & {
    transition: margin-left .5s;
  }

  .sidebar--animated.sidebar--collapsed & {
    transition-delay: .6s;
  }

  .sidebar--collapsed & {
    margin-left: $sidebar-width-collapsed;
  }

  .sidebar--expanded & {
    margin-left: $sidebar-width;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    > * {
      display: flex;
      align-items: center;
    }

    h1 {
      display: inline-block;
      margin-right: 20px;
    }

    & .button {
      border-radius: 5px;
      min-width: 175px;
    }
  }
}
