.page {
  min-height: calc(100% - #{$header-height + $footer-height});
  margin-top: $header-height;
  margin-left: $sidebar-width;
  padding-top: 25px;
  padding-bottom: 25px + $footer-height;
  padding-left: 50px;
  padding-right: 50px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    & .button {
      border-radius: 5px;
      min-width: 175px;
    }
  }
}
