.main {
  display: flex;
  flex-grow: 1;
}

.page {
  flex: 1;
  margin: 25px 50px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    & .button {
      border-radius: 5px;
      min-width: 175px;
    }
  }
}
