.sidebar {
  position: fixed;
  top: $header-height;
  width: $sidebar-width;
  min-height: calc(100% - #{$header-height});
  padding: 35px 10px;
  background-color: $sidebar-background-colour;

  &__link {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    transition: background-color .2s;

    &:last-child {
      margin-bottom: 0;
    }

    &--active, &:hover {
      background-color: $sidebar-link-background-colour-active;
    }

    &:active {
      background-color: $sidebar-link-background-colour-clicked;
    }
  }
}
