.mini-table {

  &--full-width {
    width: 100%;
  }

  tr {
    height: 26px;
  }

  &__stat {
    text-align: center;

    &--positive {
      color: $green;
    }

    &--negative {
      color: $red;
    }

    &--neutral {
      color: $blue;
    }

    &--align-right {
      text-align: right;
    }
  }

  .button {
    display: block;
  }
}

.table {

  &--horizontal {
    th {
      font-weight: bold;
    }

    tbody tr {
      height: 35px;
    }
  }

  &--vertical {

    td {
      vertical-align: top;
      padding-bottom: 20px;

      &:first-child {
        width: 1%;
        white-space: nowrap;
        padding-right: 40px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &--full-width {
    width: 100%;
  }

  &--bordered {
    border-collapse: collapse;
    border-spacing: 0;

    th {
      padding: 20px;
      border-bottom: 2px solid #dee2e6;
    }

    td {

      &.a-l {
        text-align: left;
      }

      &.a-r {
        text-align: right;
      }

      &.a-c {
        text-align: center;
      }
    }

    tbody {

      tr {

        td {
          padding: 20px;
          border-bottom: 1px solid #dee2e6;
          background-color: $white;
          transition: background-color .2s;
        }

        &:last-child {

          td {
            border-bottom: 2px solid #dee2e6;
          }
        }

        &:hover {

          td {
            background-color: #dee2e6;
          }
        }
      }
    }

  }

  &__stat {
    text-align: center;

    &--positive {
      color: $green;
    }

    &--negative {
      color: $red;
    }

    &--neutral {
      color: $blue;
    }

    &--align-right {
      text-align: right;
    }
  }

  .button {
    display: block;
  }

  .text-align-top {
    vertical-align: top;
  }

  .border-top {
    border-top: 1px solid $gray;
  }
}
